*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}
.bagImage{
    width: 100vw;
    height: 100%;
    
    
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
}
.navBar{
    width: 100%;
    height: 20vh;
    
    display: flex;
    justify-content: space-between;
}

.navBarLogo{
    height: 80%;
    width: 10%;
    margin: 1vw 0 1.2vw 1.5vw;
    border-radius: 50%;
    transition: .3s all ease;

}
.navBarLogo img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
.navBarLogo:hover{
    box-shadow: 0 0 10px black;
    transition: .3s all ease;
}

.navBarIcons{
    
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: 2.5vw;
    margin-right: 2vw;
}
.navBarIcons h1{
    padding: 10px 20px;
    border: 1px solid rgb(177, 176, 176);
    border-radius: 40px;
    color: black;
    position: relative;
    overflow: hidden;
}
.navBarIcons h1::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 40px;
    transition: all ease .3s;

}
.navBarIcons h1:hover::after{
    bottom: 0;
}
.navBarIcons h1 a{
    
   text-decoration: none;
   color: rgb(9, 1, 1);
   z-index: 1;
   font-size: 1.5vw;
   position: relative;
}
.navBarIcons h1:hover a{
    color: white;
}
.navBarIcons .register{
  
    background-color: rgb(115, 111, 109);
    
}

.cont9{
    width: 100%;
    min-height: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6vw;
}
.cont1Heading{
    width: 12%;
    height: 10%;
    padding-bottom: 5vw;
    
    
}
.cont1Heading h1{
    color: white;
    font-family: tahoma;
}

.cont1Events{
    width: 100%;
    min-height: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4vw;
}
.contEvent1{
    width: 100%;
    height: 60vh;
    margin-bottom: 10vw;
    display:flex;
    justify-content: space-evenly;

}
.eventOne{
    width: 25%;
    height: 70vh;
    box-shadow: 0 0 40px black;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.eventOneImage{
    width: 100%;
    height: 80%;
    
   
}
.eventOneHeading{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #615f5f;
    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.eventOneHeading h1{
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    color: #000;
}
.eventOneHeading p{
    text-align: justify;
    width: 80%;
    font-weight: bold;
    font-size: 1.1vw;
    font-family: serif;
    color: #000;
}
.eventOneImage img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



.cont2{
    width: 100%;
    height: 10vw;
    background-color: rgb(37, 118, 118);
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
.contactInfo{
    width: 100%;
    height: 2vw;
    padding: 3vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactInfo h1{
    font-size: 2.6vw;
    color: white;
    text-shadow: 0 0 30px rgb(20, 20, 81);
}
.contactLogo{
    width: 100%;
    height: 4vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cont2 .foot{
    width: 3vw;
    height: 3vw;
    margin: 0 2vw;
    border-radius: 2vw;
    transition:.3s all ease;
}
.foot img{
    width: 100%;
    height: 100%;
    border-radius: 2vw;
}

.foot:hover {
    transform: scale(1.2);
    transition:.3s all ease;

}
